.configure{
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .configure button:hover, .configure button:focus, .configure button:active{
    text-decoration: none;
    color: #DA5E42;
  
  }
  