@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f6f4;
}

main {
  padding: 0;
}

.font {
  font-weight: 400;
  line-height: 30px;
}
