.fss{
    font-size: small;
}

.mtr{
    margin-top: revert;
}

.mt1r{
    margin-top: 1rem;
}

.mt2r{
    margin-top: 2rem;
}

.rating-position{
    position: relative;
    top: 30%;
}

.tag-position{
    position: relative;
    top: 39%;
}

.pl25p{
    padding-left: 25%;
}

.pt-1rem{
    padding-top: 1rem;
}

.pt-3rem{
    padding-top: 3rem;
}

.my_select {
    background-color: white;
    color: #eaa668;
    border: 1px solid #eaa668;
    border-radius: 3px;
    color: #817979;
    font-size: small;
    width: 8.6rem;
}

.setted {
    color: white;
    background-color: #DA5E42;
    /* border: 1px solid #eaa668; */
    border-radius: 3px;
    /* color: #817979; */
    font-size: small;
    width: 8.6rem;
}

.my_select:focus {
    border: 1px solid #DA5E42;
}