/* Footer */
.footer{
    width: 100%;
    height: 454px;
    margin-top:75px;
    flex-shrink: 0;
    background: #7E9797;
}


.footer-img{
    padding-top: 40px;
    width: 198px;
    flex-shrink: 0;
}

.footer-social img{
    padding-top: 20px;
    width: 40px;
    flex-shrink: 0;
}

.footer-subsection-text{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 40px;
}

.footer-desc p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-line{
    width: 60px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    margin-bottom: 100px;
}

.footer-heading-text{
    margin-bottom: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: white;
    margin-top: 40px;
}

.footer-desc-1, .footer-desc-2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
}

.footer-desc-2{
    margin-left: 30px;
}

