/* Footer */
.footer {
  width: 100%;
  margin-top: 75px;
  flex-shrink: 0;
  background: #7e9797;
  padding: 40px 0;
  box-sizing: border-box;
}

.footer-img {
  width: 100%;
  max-width: 198px;
  margin-bottom: 20px;
}

.footer-social img {
  width: 40px;
  margin-right: 10px;
}

.footer-subsection-text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 40px;
}

.footer-desc p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer-line {
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.footer-heading-text {
  margin-bottom: 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  color: white;
  margin-top: 40px;
}

.footer-desc-1,
.footer-desc-2 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.footer-desc-2 {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: 1fr;
  }

  .pl-9,
  .pl-20 {
    padding-left: 0;
  }
}
