.tp-catalog {
    width: 90%;
    min-height: 350px;
    max-width: auto;
    background-color: transparent   ;
    margin-left: 0;
    display: flex;
    border-radius: 7px;
}

.tp-img img{
    width: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    border-radius: 5px;
}

.tp-info {
    margin-top: 200px;
    padding-right: 23px;
}

.tp-rating{
    margin-top: 10px;
    margin-bottom: 0PX;
    display: flex;
    text-align: center;
    font-size: 16px;
    color: #DA5E42;
}

.tp-rating-star{
    padding-right: 5px;
}
  